#
# This is the parameter file for the tests on Applications Page
#	parameter values should be comma seperated.
#  the input parameters are:
#       url - the url to be used to log into the portal
#		username -- the username with which to log into the portal
#		pwd -- the passwords to be used, if the pwds is of an employee then it will be HIDDEN and to be provided via GUI interface
#		customernames - the name of the customer for which the user role is associated
#		expectedRole - the role that is expected for the user
#

url=https://tools.cisco.com/smartservices/nextgen

usernames=sntcprodtest

passwords=Cisco123

customernames=CISCO SYSTEMS INC

expectedRoles=CustomerAdmin

#
#cisco_sntccustuser01   Cisco!23
#sntcprodtest    Cisco123
#appAdministrator goSNTC2014
#sntcpartner_admin2  goSNTC2015
#sntcpartner_admin   goSNTC2015
#sichituk    HIDDEN